<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %white(%d{MM-dd-yyyy}) %cyan(%d{HH:mm:ss.SSS}) %highlight(%-5level) %magenta(%logger{-20}) %yellow(: %msg%n)
            </pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
